In [1]:
!pip install sqlalchemy
!pip install pyodbc

Requirement already satisfied: sqlalchemy in c:\users\ahmad\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ahmad\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyodbc in c:\users\ahmad\anaconda3\lib\site-packages (4.0.34)

In [2]:
from sqlalchemy import create_engine, Table, inspect
import pandas as pd
import pyodbc 
import matplotlib.pyplot as plt

In [3]:
def new_engine(dialect, server, database, user=None, password=None, integrated_security=True):
    if integrated_security:
        # For Windows authentication
        eng = f"{dialect}://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
    else:
        assert user, 'You must define a username'
        assert password, 'You must define a password'
        # For SQL Server authentication
        eng = f"{dialect}://{user}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
    print(eng)
    return create_engine(eng)

In [4]:
engine = new_engine('mssql', 'Taem-pc', 'AdventureWorks2022')

mssql://Taem-pc/AdventureWorks2022?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server

In [5]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [6]:
connection = engine.connect()

In [7]:
print(type(connection))

<class 'sqlalchemy.engine.base.Connection'>

In [29]:
# Hur många anställda?
query ="""
SELECT COUNT(*) AS TotalEmployees
FROM HumanResources.Employee;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   TotalEmployees
0             290

In [30]:
# Hur många kunder?
query ="""
SELECT COUNT(*) AS TotalCustomers
FROM Sales.Customer;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   TotalCustomers
0           19820

In [31]:
# Hur många produkter?
query ="""
SELECT COUNT(*) AS TotalProducts
FROM Production.Product;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   TotalProducts
0            504

In [32]:
# Hur många Avdelning ?
query ="""
SELECT COUNT(*) AS TotalDepartments
FROM HumanResources.Department;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   TotalDepartments
0                16

In [33]:
# Hur många Anställda på vaeje avdelning ?
query ="""
SELECT 
    D.DepartmentID
    , D.Name AS Department_Name
    , COUNT(E.BusinessEntityID) AS Employee_Count
FROM HumanResources.EmployeeDepartmentHistory AS E
JOIN HumanResources.Department AS D ON D.DepartmentID = E.DepartmentID
GROUP BY 
    D.DepartmentID
    , D.Name
ORDER BY 
   D.DepartmentID ;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

    DepartmentID             Department_Name  Employee_Count
0              1                 Engineering               7
1              2                 Tool Design               4
2              3                       Sales              18
3              4                   Marketing              10
4              5                  Purchasing              13
5              6    Research and Development               4
6              7                  Production             180
7              8          Production Control               6
8              9             Human Resources               6
9             10                     Finance              11
10            11        Information Services              10
11            12            Document Control               5
12            13           Quality Assurance               7
13            14  Facilities and Maintenance               7
14            15      Shipping and Receiving               6
15            16                   Executive               2

In [34]:
# Hur många tabele ?
query ="""
SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE';

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

                 TABLE_NAME
0              SalesTaxRate
1          PersonCreditCard
2               PersonPhone
3            SalesTerritory
4           PhoneNumberType
5                   Product
6     SalesTerritoryHistory
7               ScrapReason
8                     Shift
9           ProductCategory
10               ShipMethod
11       ProductCostHistory
12       ProductDescription
13         ShoppingCartItem
14          ProductDocument
15              DatabaseLog
16         ProductInventory
17             SpecialOffer
18                 ErrorLog
19  ProductListPriceHistory

In [35]:
# Hur många Products ?
query ="""
SELECT COUNT(*) AS TotalProducts
FROM Production.Product;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   TotalProducts
0            504

In [36]:
# Hur många Avdelning med Namn ?
query ="""
SELECT d.Name AS DepartmentName, COUNT(e.BusinessEntityID) AS NumberOfEmployees
FROM HumanResources.Department d
LEFT JOIN HumanResources.EmployeeDepartmentHistory edh ON d.DepartmentID = edh.DepartmentID
JOIN HumanResources.Employee e ON edh.BusinessEntityID = e.BusinessEntityID
GROUP BY d.Name
ORDER BY NumberOfEmployees DESC;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

                DepartmentName  NumberOfEmployees
0                   Production                180
1                        Sales                 18
2                   Purchasing                 13
3                      Finance                 11
4         Information Services                 10
5                    Marketing                 10
6                  Engineering                  7
7            Quality Assurance                  7
8   Facilities and Maintenance                  7
9       Shipping and Receiving                  6
10          Production Control                  6
11             Human Resources                  6
12            Document Control                  5
13    Research and Development                  4
14                 Tool Design                  4
15                   Executive                  2

In [37]:
# Hur många säljare ?
query ="""
SELECT COUNT(*) AS NumberOfSellers
FROM Purchasing.Vendor;

"""
joinn_df = pd.read_sql(sql=query, con=connection)
print (joinn_df.head(20))

   NumberOfSellers
0              104